<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Abalone's Age</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="/predict"method="POST">
    	<input type="text" name="1st" placeholder="Length" required="required" />
        <input type="text" name="2nd" placeholder="Diameter" required="required" />
        <input type="text" name="3rd" placeholder="Height" required="required" />
        <input type="text" name="4th" placeholder="Whole weight" required="required" />
        <input type="text" name="5th" placeholder="Shucked weight" required="required" />
        <input type="text" name="6th" placeholder="Viscera weight" required="required" />
        <input type="text" name="7th" placeholder="Shell weight" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>